%%
%% rebar.config
%%
{build_dir, "{{output_dir}}/../.."}.

%%
%% app.config
%%
{run_user_home,                 "/data/appmetric2ddb"}.
{log_path,                      "/data/appmetric2ddb/log"}.

%%
%% etc/vm.args
%%
{node,                          "appmetric2ddb@127.0.0.1"}.
{crash_dump,                    "/data/appmetric2ddb/log"}.
{distributed_cookie,            "appmetric2ddb_cookie"}.
{run_user,                      "appmetric2ddb"}.

{cuttlefish_conf,               "appmetric2ddb.conf"}.

{platform_etc_dir,              "/data/appmetric2ddb/etc"}.
{platform_bin_dir,              "./bin"}.
{platform_lib_dir,              "./lib"}.
{platform_log_dir,              "/data/appmetric2ddb/log"}.

{bugsnag_app_version,           "0.1.0"}.
{service,                       "appmetric2ddb"}.
